<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="XMLTemplateAuthoriseRequestPath" value="~/TemplateXML/RequestSample/WSFEEUPLOADAUTHORISE_req.xml"/>
    <add key="XMLTemplateAuthoriseResponsePath" value="~/TemplateXML/ResponseSample/WSFEEUPLOADAUTHORISE_resp.xml"/>
    <add key="XMLTemplateDeleteRequestPath" value="~/TemplateXML/RequestSample/WSFEEUPLOADDELETE_req.xml"/>
    <add key="XMLTemplateDeleteResponsePath" value="~/TemplateXML/ResponseSample/WSFEEUPLOADDELETE_resp.xml"/>
    <add key="XMLTemplateInputRequestPath" value="~/TemplateXML/RequestSample/WSFEEUPLOADINPUT_req.xml"/>
    <add key="XMLTemplateReverseRequestPath" value="~/TemplateXML/RequestSample/WSFEEUPLOADREVERSE_req.xml"/>
    <add key="XMLTemplateEnquireRequestPath" value="~/TemplateXML/RequestSample/WSFEEUPLOADENQUIRE_req.xml"/>
    <add key="JBOSSServerPath" value="http://220.20.10.79:8080/T24WSTest/services"/>  
  </appSettings>
</configuration>
