<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MBOSS.DAL.Properties.Settings.MBOSSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MBOSS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MBOSS.DAL.Properties.Settings.MBOSSConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MBOSS;Persist Security Info=True;User ID=sa;Password=Hitachi01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>